[Unit]
Description=GPS Service
After=network.target

[Service]
User=balon
ExecStart=/usr/bin/python /home/balon/gps2402.py
Restart=always
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
