[Unit]
Description=GPS Service
After=network.target

[Service]
User=balon
ExecStart=/usr/bin/wvdial
Restart=always
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
